kafka

altgraph==0.16.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
future==0.18.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
kafka-python==1.4.7
lxml==4.2.5
MarkupSafe==1.1.1
pefile==2019.4.18
py4j==0.10.7
PyInstaller==3.5
PyMySQL==0.9.3
pyspark==2.4.4
pyspark-stubs==2.4.0.post6
python-engineio==3.11.1
python-socketio==4.4.0
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
