<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/echarts.min.js"></script>
</head>
<body>
<button onclick="MLdata()">查询</button>
<div id="chart" style="width:1500px;height:800px;"></div>
<h1><p id="display"></p></h1>
<script>
    gameName=[];
    gameData=[];
    dataCount=[];
    function MLdata() {
        var xmlhttp = new XMLHttpRequest();
        right = "";
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                labelList = msg.labelList;
                acc = msg.acc;
                gameName = msg.gameName;
                dataCount = msg.dataCount;
                console.log(gameName)
                console.log(dataCount)

                 for (i = 0; i < gameName.length; i++) {
                    map = {};
                    map['value'] = dataCount[i];
                    map['name'] = gameName[i];
                    gameData.push(map)
                }
                drawMLPicture();
            }
        };
        xmlhttp.open('post', 'http://127.0.0.1:5000/test');
        xmlhttp.send("");
    }
    function drawMLPicture() {
       var ct = echarts.init(document.getElementById("chart"));
        var option = {
            title: {},
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                left: 10,
                data: gameName
            },
            series: [
                {
                    name: '热度',
                    type: 'pie',
                    radius: '55%',
                    data: gameData,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        ct.setOption(option);
    }


</script>
</body>
</html>