<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/echarts.min.js"></script>
</head>
<body>


<p>当前提供的：<br>
<p>查询日期为2019-12-19到2020-04-07<br>
<p>直播间支持虎牙所有直播间</p>
<p>前端存在部分BUG，请每次查询结束之后刷新网页</p>


<br><br>
查询范围内直播分类指标变化<br>
<label>开始日期：</label><input type="text" id="start"><br>
<label>结束日期：</label><input type="text" id="end"><br>
<button onclick="TypeChangeByDay()">查询</button>
<br><br>
查询某日直播分类变化情况<br>
<label>日期：</label>
<input type="text" id="day"><br>
<button onclick="displayDataByDay()">查询</button>
<br><br>
查询直播分类在有记录时间范围内的热度变化情况<br>
<label>直播分类：</label><input type="text" id="type_id"><br>
<button onclick="displayMysqlDataByType()">查询</button>
<br><br>
查询直播间在有记录的时间范围内的热度变化情况<br>
<label>直播间：</label><input type="text" id="room_id"><br>
<button onclick="displayMysqlDataByRoom()">查询</button>
<br>
<br>


单日各直播分类的指标

<div style="text-align: center;">
    <h1><p id="display"></p></h1>
</div>

<div id="chart" style="width:2000px;height:800px;"></div>
<div id="chart1" style="width:1500px;height:800px;"></div>
<script>
    gameName = [];
    gameRoomNumber = [];
    gameHot = [];
    gamedata = [];
    gameAve = [];
    gametime = [];
    gameHot1 = [];
    gameHot2 = [];
    gameHot3 = [];
    days = [];
    Max = [];
    Avg = [];
    Sum = [];
    Count = [];

    //查询范围内直播分类指标变化
    function TypeChangeByDay() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                days = msg.days;
                Max = msg.dayMax;
                Avg = msg.dayAvg;
                Sum = msg.daySum;
                Count = msg.dayCount;
                drawTypeChangeByDay();
                document.getElementById('display').innerText = "查询结束"
            }
        };
        var start = document.getElementById("start").value;
        var end = document.getElementById("end").value;
        xmlhttp.open('post', 'http://127.0.0.1:5000/TypeChangeByDay');
        xmlhttp.send("start=" + start + "&end=" + end);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawTypeChangeByDay() {
        var ct = echarts.init(document.getElementById("chart"));
        var option = {
            title: {
                text: '查询范围内直播分类指标变化',

            },
            tooltip: {},
            legend: {
                data: ['max', 'avg', 'sum', 'count']
            },
            xAxis: {
                data: days
            },
            yAxis: [
                {
                    name: '热度',
                    type: 'value'
                }],
            series: [
                {
                    name: 'max',
                    type: 'line',
                    smooth: true,
                    data: Max
                },
                {
                    name: 'avg',
                    type: 'line',
                    smooth: true,
                    data: Avg
                },
                {
                    name: 'sum',
                    type: 'line',
                    smooth: true,
                    data: Sum
                }, {
                    name: 'count',
                    type: 'line',
                    smooth: true,
                    data: Count
                }

            ]
        };
        ct.setOption(option);
    }

    //查询单日的直播分类指标
    function displayDataByDay() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                gameName = msg.gameName;
                Max = msg.dataMax;
                Avg = msg.dataAvg;
                Sum = msg.dataSum;
                Count = msg.dataCount;
                document.getElementById('display').innerText = "查询结束"
                drawchartDataByDay()
            }
        };
        var day = document.getElementById("day").value;
        xmlhttp.open('post', 'http://127.0.0.1:5000/displayDataByDay');
        xmlhttp.send("str1=" + day);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawchartDataByDay() {
        var ct = echarts.init(document.getElementById("chart"));
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['max', 'avg', 'sum', 'count']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                data:gameName
            },
            yAxis:  {
                    name: '热度',
                    type: 'value'
                },
            series: [
                {
                    name: 'max',
                    type: 'line',
                    smooth: true,
                    data: Max
                },
                {
                    name: 'avg',
                    type: 'line',
                    smooth: true,
                    data: Avg
                },
                {
                    name: 'sum',
                    type: 'line',
                    smooth: true,
                    data: Sum
                }, {
                    name: 'count',
                    type: 'line',
                    smooth: true,
                    data: Count
                }

            ]
        };
        ct.setOption(option);
    }


    function displayMysqlDataByType() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                gameHot = msg.gameHot;
                gametime = msg.gametime;
                console.log(gametime)
                drawchartDataByType();
                document.getElementById('display').innerText = "查询结束"
            }
        };
        var type_id = document.getElementById('type_id').value
        xmlhttp.open('post', 'http://127.0.0.1:5000/displayMysqlDatabytype');
        xmlhttp.send("str1=" + type_id);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawchartDataByType() {
        var ct = echarts.init(document.getElementById("chart"));
        var option = {
            title: {
                text: '游戏数据计算',
            },
            tooltip: {},
            legend: {
                data: ['gameHot']
            },
            xAxis: {
                data: gametime
            },
            yAxis: [
                {
                    name: '热度',
                    type: 'value'
                }],
            series: [
                {
                    name: 'gameHot',
                    type: 'line',
                    smooth: true,
                    data: gameHot
                }
            ]
        };
        ct.setOption(option);
    }

    function displayMysqlDataByRoom() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                gameHot = msg.gameHot;
                gametime = msg.gametime;
                drawchartDataByRoom();
                document.getElementById('display').innerText = "查询结束"
            }
        };
        var room_id = document.getElementById("room_id").value
        xmlhttp.open('post', 'http://127.0.0.1:5000/displayMysqlDatabyroom');
        xmlhttp.send("str1=" + room_id);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawchartDataByRoom() {
        var ct = echarts.init(document.getElementById("chart"));
        var option = {
            title: {
                text: '游戏数据计算',
            },
            tooltip: {},
            legend: {
                data: ['gameHot']
            },
            xAxis: {
                data: gametime
            },
            yAxis: [
                {
                    name: '热度',
                    type: 'value'
                }],
            series: [
                {
                    name: 'gameHot',
                    type: 'line',
                    smooth: true,
                    data: gameHot
                }
            ]
        };
        ct.setOption(option);
    }

    function drawchartBaseForPie() {
        var ct = echarts.init(document.getElementById("chart1"));
        var option = {
            title: {
                text: '虎牙板块人气分析',
                subtext: '数据来自虎牙',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: gameName
            },
            series: [
                {
                    name: '热度',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: gamedata,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        ct.setOption(option);
    }

    function drawchartBaseForLine() {
        var ct = echarts.init(document.getElementById("chart"));
        var option = {
            title: {
                text: '游戏数据计算',
            },
            tooltip: {},
            legend: {
                data: ['gameAve', 'gameHot']
            },
            xAxis: {
                data: gameName
            },
            yAxis: [
                {
                    name: '热度',
                    type: 'value'
                },
                {
                    name: '房间平均热度',
                    nameLocation: 'start',
                    type: 'value'
                }],
            series: [
                {
                    name: 'gameAve',
                    type: 'line',
                    yAxisIndex: 1,
                    smooth: true,
                    data: gameAve
                },
                {
                    name: 'gameHot',
                    type: 'line',
                    smooth: true,
                    data: gameHot
                }
            ]
        };
        ct.setOption(option);
    }
</script>
</body>
</html>