<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/echarts.min.js"></script>

</head>
<link rel="stylesheet" type="text/css" href="main.css">

<body>

<iframe src="./nav.html" width="100%" height="200" frameborder="no" border="0" marginwidth="0" marginheight="0"
        scrolling="no" id="head"></iframe>

<p>当前提供的：<br>
<p>查询日期为2019-12-19到2020-04-07<br>
<p>直播间支持虎牙所有直播间</p>
<p>前端存在部分BUG，请每次查询结束之后刷新网页</p>


<div class="query_wrapper">
    <br/>
    <input type="radio" name="query_item" value="0" onclick="radioSelect(this.value)" checked class="query_name">查询范围内直播分类指标变化</input>
    <br/>
    <input type="radio" name="query_item" value="1" onclick="radioSelect(this.value)"
           class="query_name">查询某日直播分类变化情况</input>
    <br/>
    <input type="radio" name="query_item" value="2" onclick="radioSelect(this.value)" class="query_name">查询直播分类在输入时间范围内的热度变化情况</input>
    <br/>
    <input type="radio" name="query_item" value="3" onclick="radioSelect(this.value)" class="query_name">查询直播间在有记录的时间范围内的热度变化情况</input>
    <br/>
    <div class="query_item">
        <label>指标类型有：AVG,SUM,COUNT,MAX<br><br>
            <label>开始日期：</label><input type="text" id="start"><br>
            <label>结束日期：</label><input type="text" id="end"><br>
            <label>查询指标类型：</label><input type="text" id="resType"><br>
            <button onclick="TypeChangeByDay()">查询</button>
    </div>
    <div class="query_item">
        <label>日期：</label>
        <input type="text" id="day"><br>
        <button onclick="displayDataByDay()">查询</button>
    </div>
    <div class="query_item">
        <label>直播分类：</label><input type="text" id="type_id"><br>
        <label>开始时间：</label><input type="text" id="type_start"><br>
        <label>结束时间：</label><input type="text" id="type_end"><br>
        <button onclick="displayDataByType()">查询</button>
    </div>
    <div class="query_item">
        <label>直播间：</label><input type="text" id="room_id"><br>
        <button onclick="displayMysqlDataByRoom()">查询</button>
    </div>
    <br/>
</div>
<br>
<br>
<br>
<br>
单日各直播分类的指标

<div style="text-align: center;">
    <h1><p id="display"></p></h1>
</div>

<div id="chart" style="width:1800px;height:800px;"></div>
<br>
<br>
<div id="chart1" style="width:1500px;height:800px;"></div>
<script>
    gameName = [];
    gameRoomNumber = [];
    gameAve = [];
    gametime = [];
    gameHot1 = [];
    gameHot2 = [];
    gameHot3 = [];
    days = [];
    Max = [];
    Avg = [];
    Sum = [];
    Count = [];
    gameData = [];
    DataSet = [];
    document.getElementsByClassName("query_item")[0].style.display = "block";

    //查询范围内直播分类指标变化
    function TypeChangeByDay() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                DataSet = msg.dataSet;
                console.log(DataSet[0][0])
                drawTypeChangeByDay();
                document.getElementById('display').innerText = "查询结束"
            }
        };
        var start = document.getElementById("start").value;
        var end = document.getElementById("end").value;
        var resType = document.getElementById("resType").value;
        xmlhttp.open('post', 'http://127.0.0.1:5000/TypeChangeByDay');
        xmlhttp.send("start=" + start + "&end=" + end + '&resType=' + resType);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawTypeChangeByDay() {
        var ct = echarts.init(document.getElementById("chart"));
        option = {
            legend: {},
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: {
                source: DataSet
            },
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0},
            grid: {top: '55%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {
                    type: 'pie',
                    id: 'pie',
                    radius: '30%',
                    center: ['50%', '25%'],
                    label: {
                        formatter: '{b}: {@' + DataSet[0][1] + '} ({d}%)'
                    },
                    encode: {
                        itemName: 'days',
                        value: DataSet[0][1],
                        tooltip: DataSet[0][1]
                    }
                }
            ]
        };
        ct.on('updateAxisPointer', function (event) {
            var xAxisInfo = event.axesInfo[0];
            if (xAxisInfo) {
                var dimension = xAxisInfo.value + 1;
                myChart.setOption({
                    series: {
                        id: 'pie',
                        label: {
                            formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                        },
                        encode: {
                            value: dimension,
                            tooltip: dimension
                        }
                    }
                });
            }
        });
        ct.setOption(option);
    }

    //查询单日的直播分类指标
    function displayDataByDay() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                gameName = msg.gameName;
                Max = msg.dataMax;
                Avg = msg.dataAvg;
                Sum = msg.dataSum;
                Count = msg.dataCount;
                for (i = 0; i < gameName.length; i++) {
                    map = {};
                    map['value'] = Sum[i];
                    map['name'] = gameName[i];
                    gameData.push(map)
                }
                document.getElementById('display').innerText = "查询结束";
                drawchartDataByDay();
                drawchartDataByDayPie()
            }
        };
        var day = document.getElementById("day").value;
        xmlhttp.open('post', 'http://127.0.0.1:5000/displayDataByDay');
        xmlhttp.send("str1=" + day);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawchartDataByDay() {
        var ct = echarts.init(document.getElementById("chart"));
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['max', 'avg', 'sum', 'count']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                data: gameName
            },
            yAxis: [{
                name: '热度',
                type: 'value'
            }, {
                name: '房间数量',
                type: 'value'
            }
            ],
            series: [
                {
                    name: 'max',
                    type: 'line',
                    smooth: true,
                    data: Max
                },
                {
                    name: 'avg',
                    type: 'line',
                    smooth: true,
                    data: Avg
                },
                {
                    name: 'sum',
                    type: 'line',
                    smooth: true,
                    data: Sum
                }, {
                    name: 'count',
                    type: 'line',
                    smooth: true,
                    yAxisIndex: 1,
                    data: Count
                }

            ]
        };
        ct.setOption(option);
    }

    function drawchartDataByDayPie() {
        var ct = echarts.init(document.getElementById("chart1"));
        var option = {
            title: {
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                left: 10,
                data: gameName
            },
            series: [
                {
                    name: '热度',
                    type: 'pie',
                    radius: '55%',
                    data: gameData,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        ct.setOption(option);
    }


    //查询直播分类热度变化（天为单位）
    function displayDataByType() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                days = msg.days;
                Max = msg.dataMax;
                Avg = msg.dataAvg;
                Sum = msg.dataSum;
                Count = msg.dataCount;
                drawDataByType();
                document.getElementById('display').innerText = "查询结束"
            }
        };
        var type_id = document.getElementById('type_id').value;
        var type_start = document.getElementById('type_start').value;
        var type_end = document.getElementById('type_end').value;
        xmlhttp.open('post', 'http://127.0.0.1:5000/displayDataByType');
        xmlhttp.send("str1=" + type_id + "&str2=" + type_start + "&str3=" + type_end);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawDataByType() {
        var ct = echarts.init(document.getElementById("chart"));
        var option = {
            title: {
            },
            tooltip: {},
            legend: {
                data: ['max', 'avg', 'sum', 'count'],

            },
            xAxis: {
                data: days
            },
            yAxis: [
                {
                    name: '热度',
                    type: 'value'
                }, {
                name: '房间数量',
                type: 'value'
            }],
            series: [
                {
                    name: 'max',
                    type: 'line',
                    smooth: true,
                    data: Max
                },
                {
                    name: 'avg',
                    type: 'line',
                    smooth: true,
                    data: Avg
                },
                {
                    name: 'sum',
                    type: 'line',
                    smooth: true,
                    data: Sum
                }, {
                    name: 'count',
                    type: 'line',
                    smooth: true,
                     yAxisIndex: 1,
                    data: Count
                }

            ]
        };
        ct.setOption(option);
    }

    function displayMysqlDataByRoom() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                msg = JSON.parse(xmlhttp.responseText);
                gameHot = msg.gameHot;
                gametime = msg.gametime;
                drawchartDataByRoom();
                document.getElementById('display').innerText = "查询结束"
            }
        };
        var room_id = document.getElementById("room_id").value
        xmlhttp.open('post', 'http://127.0.0.1:5000/displayMysqlDatabyroom');
        xmlhttp.send("str1=" + room_id);
        document.getElementById('display').innerText = "开始查询内容，请等待"
    }

    function drawchartDataByRoom() {
        var ct = echarts.init(document.getElementById("chart"));
        var option = {
            title: {
            },
            tooltip: {},
            legend: {
                data: ['gameHot']
            },
            xAxis: {
                data: gametime
            },
            yAxis: [
                {
                    name: '热度',
                    type: 'value'
                }],
            series: [
                {
                    name: 'gameHot',
                    type: 'line',
                    smooth: true,
                    data: gameHot
                }
            ]
        };
        ct.setOption(option);
    }

    function radioSelect(val) {
        var list = document.getElementsByClassName("query_item");
        for (var i = 0; i < list.length; i++) {
            list[i].style.display = "none";
        }
        document.getElementsByClassName("query_item")[val].style.display = "block";
    }

</script>
</body>
</html>